In [54]:
import pandas as pd
import numpy as np

# Load Excel file
df = pd.read_excel("Telco_customer_churn.xlsx")

# View basic info
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 7043 non-null   object
 1   City                  7043 non-null   object
 2   Zip Code              7043 non-null   int64
 3   Latitude              7043 non-null   float64
 4   Longitude             7043 non-null   float64
 5   Gender                7043 non-null   object
 6   Senior Citizen        7043 non-null   object
 7   Partner               7043 non-null   object
 8   Dependents            7043 non-null   object
 9   Tenure Months         7043 non-null   int64
 10  Phone Service         7043 non-null   object
 11  Multiple Lines        7043 non-null   object
 12  Internet Service      7043 non-null   object
 13  Online Security       7043 non-null   object
 14  Online Backup         7043 non-null   object
 15  Device Protection     7043 non-null   object
 16  Tech Support          7043 non-null   object
 17  Streaming TV          7043 non-null   object
 18  Streaming Movies      7043 non-null   object
 19  Contract              7043 non-null   object
 20  Paperless Billing     7043 non-null   object
 21  Payment Method        7043 non-null   object
 22  Monthly Charges       7043 non-null   float64
 23  Total Charges         7043 non-null   object
 24  Churn Label           7043 non-null   object
 25  Churn Value           7043 non-null   int64
 26  Churn Score           7043 non-null   int64
 27  CLTV                  7043 non-null   int64
 28  Churn Reason          1869 non-null   object
 29  Churn Reason Cleaned  1 non-null      object
dtypes: float64(3), int64(5), object(22)
memory usage: 1.6+ MB

,Zip Code,Latitude,Longitude,Tenure Months,Monthly Charges,Churn Value,Churn Score,CLTV
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,93521.964646,36.282441,-119.798880,32.371149,64.761692,0.265370,58.699418,4400.295755
std,1865.794555,2.455723,2.157889,24.559481,30.090047,0.441561,21.525131,1183.057152
min,90001.000000,32.555828,-124.301372,0.000000,18.250000,0.000000,5.000000,2003.000000
25%,92102.000000,34.030915,-121.815412,9.000000,35.500000,0.000000,40.000000,3469.000000
50%,93552.000000,36.391777,-119.730885,29.000000,70.350000,0.000000,61.000000,4527.000000
75%,95351.000000,38.224869,-118.043237,55.000000,89.850000,1.000000,75.000000,5380.500000
max,96161.000000,41.962127,-114.192901,72.000000,118.750000,1.000000,100.000000,6500.000000

In [55]:
# Check for missing values
df.isnull().sum()

State                      0
City                       0
Zip Code                   0
Latitude                   0
Longitude                  0
Gender                     0
Senior Citizen             0
Partner                    0
Dependents                 0
Tenure Months              0
Phone Service              0
Multiple Lines             0
Internet Service           0
Online Security            0
Online Backup              0
Device Protection          0
Tech Support               0
Streaming TV               0
Streaming Movies           0
Contract                   0
Paperless Billing          0
Payment Method             0
Monthly Charges            0
Total Charges              0
Churn Label                0
Churn Value                0
Churn Score                0
CLTV                       0
Churn Reason            5174
Churn Reason Cleaned    7042
dtype: int64

In [56]:
# Convert Total Charges to numeric
df['Total Charges'] = pd.to_numeric(df['Total Charges'], errors='coerce')

# Verify datatype
df.dtypes

State                    object
City                     object
Zip Code                  int64
Latitude                float64
Longitude               float64
Gender                   object
Senior Citizen           object
Partner                  object
Dependents               object
Tenure Months             int64
Phone Service            object
Multiple Lines           object
Internet Service         object
Online Security          object
Online Backup            object
Device Protection        object
Tech Support             object
Streaming TV             object
Streaming Movies         object
Contract                 object
Paperless Billing        object
Payment Method           object
Monthly Charges         float64
Total Charges           float64
Churn Label              object
Churn Value               int64
Churn Score               int64
CLTV                      int64
Churn Reason             object
Churn Reason Cleaned     object
dtype: object

In [57]:
# Drop column with 99% null values
df = df.drop(columns=['Churn Reason Cleaned'])

In [58]:
# Instead of leaving NULL, create a meaningful category for non-churned customers
df['Churn Reason'] = df['Churn Reason'].fillna('No Churn')

In [59]:
# Check rows where Total Charges is null
df[df['Total Charges'].isnull()]

# Replace missing values with median (safe business approach)
df['Total Charges'].fillna(df['Total Charges'].median(), inplace=True)

In [60]:
# Check for missing values
df.isnull().sum()

State                0
City                 0
Zip Code             0
Latitude             0
Longitude            0
Gender               0
Senior Citizen       0
Partner              0
Dependents           0
Tenure Months        0
Phone Service        0
Multiple Lines       0
Internet Service     0
Online Security      0
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      0
Total Charges        0
Churn Label          0
Churn Value          0
Churn Score          0
CLTV                 0
Churn Reason         0
dtype: int64

In [61]:
# Dropping unnecessary columns (SAFE VERSION)
columns_to_drop = [
    'Count',
    'Country',
    'Lat Long',
    'Churn Value',
    'Churn Score',
    'CLTV',
    'Churn Reason'
]

# Drop only if columns exist
df_clean = df.drop(columns=columns_to_drop, errors='ignore')

df_clean.head()

,State,City,Zip Code,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label
0,California,Los Angeles,90003,33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
1,California,Los Angeles,90005,34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
2,California,Los Angeles,90006,34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.50,Yes
3,California,Los Angeles,90010,34.062125,-118.315709,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
4,California,Los Angeles,90015,34.039224,-118.266293,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.30,Yes

In [62]:
# Check for missing values
df_clean.isnull().sum()

State                0
City                 0
Zip Code             0
Latitude             0
Longitude            0
Gender               0
Senior Citizen       0
Partner              0
Dependents           0
Tenure Months        0
Phone Service        0
Multiple Lines       0
Internet Service     0
Online Security      0
Online Backup        0
Device Protection    0
Tech Support         0
Streaming TV         0
Streaming Movies     0
Contract             0
Paperless Billing    0
Payment Method       0
Monthly Charges      0
Total Charges        0
Churn Label          0
dtype: int64

In [63]:
# Convert Yes/No to 1/0
df_clean['Churn Label'] = df_clean['Churn Label'].map({
    'Yes': 1,
    'No': 0
})

In [64]:
# Remove Duplicates
df_clean.drop_duplicates(inplace=True)

In [65]:
# Save Clean Dataset
df_clean.to_csv("clean_telco_churn.csv", index=False)

PermissionError: [Errno 13] Permission denied: 'clean_telco_churn.csv'

In [66]:
df = pd.read_csv("clean_telco_churn.csv")

In [67]:
# Business tools prefer clean column names (no spaces).
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [69]:
df.isnull().sum()

state                0
city                 0
zip_code             0
latitude             0
longitude            0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure_months        0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn_label          0
dtype: int64

In [71]:
df['tenure_group'] = pd.cut(
    df['tenure_months'],
    bins=[0, 12, 24, 48, 72],
    labels=['New', 'Mid', 'Regular', 'Loyal']
)

In [72]:
df['charges_category'] = pd.cut(
    df['monthly_charges'],
    bins=[0, 35, 70, 120],
    labels=['Low', 'Medium', 'High']
)

In [73]:
service_cols = [
    'phone_service', 'internet_service', 'online_security',
    'online_backup', 'device_protection', 'tech_support',
    'streaming_tv', 'streaming_movies'
]

df['total_services'] = (df[service_cols] == 'Yes').sum(axis=1)

In [74]:
df.to_csv("final_telco_churn_dataset.csv", index=False)